    <h4>Profil</h4>
    <mat-form-field class="col-md-6">
        <input matInput type="text" placeholder="Nom d'utilisateur" name="blabla" [(ngModel)]="user.userName" >
    </mat-form-field>
    <br>
    <mat-form-field class="col-md-6">
            <input matInput type="text" placeholder="Nom et prénom" name="user.fullName" [(ngModel)]="user.fullName" >
    </mat-form-field>
    <br>
    <mat-form-field class="col-md-6">
            <input matInput type="email" placeholder="Email" name="user.email" [(ngModel)]="user.email" >
    </mat-form-field>
    <br>
    <mat-form-field class="col-md-6">
            <input matInput type="password" placeholder="Mot de passe" name="password" [(ngModel)]="password" >
        </mat-form-field>
        <br>
    <mat-form-field class="col-md-6">
            <input matInput type="password" placeholder="Confimer mot de passe" name="cpassword" [(ngModel)]="cpassword" >
        </mat-form-field>
            <br>
    <div class="col-md-4">
        <button mdbBtn color="success" (click)="valid()" mdbWavesEffect >Modifier</button>
        <button mdbBtn color="primary" (click)="refresh()" mdbWavesEffect>Annuler</button>
    </div>
