<div class="jumbotron text-center">

  <!-- Title -->
  <h4 class="card-title h4 pb-2"><strong>Suivi des factures en ligne de l'INRA</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4 waves-light" mdbWavesEffect>
    <img  src="assets/logo.png" style="margin-left: auto;margin-right: auto;height:30vh ;" alt="">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <h5 class="indigo-text h5 mb-4"><a type="button" class="nav-link waves-light" [routerLink]="['factures']" mdbWavesEffect>
    Factures</a></h5>

    <p class="card-text"><strong>Bienvenue à FOINRA , ici vous pouvez déposer, consulter et suivre vos factures </strong> </p>
    


</div>
