<div class="container">
  <div class="row centering">
      <div class="centering">
      <h2>MYINRA</h2>
      </div>
    <div class="row">
      <br>
      <h4 class="centering">PAIE</h4>
      <div><br></div>
      <div id="menu-box " class="col-md-3">
        <div id="item" >
          <div class="container-block">
            <div class="block1">
              <i class="far fa-file"></i>
            </div>
            <div class="block2">
              <span>Attestation de salaire</span>
              <p>Editer votres attestation</p>
            </div>
          </div>
        </div>
      </div>
      <div id="menu-box " class="col-md-3">
        <div id="item" >
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-laptop"></i>
            </div>
            <div class="block2">
              <span>System</span>
              <p>Display, sound, notifications</p>
            </div>
          </div>
        </div>
      </div>
      <div id="menu-box " class="col-md-3">
        <div id="item">
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-laptop"></i>
            </div>
            <div class="block2">
              <span>System</span>
              <p>Display, sound, notifications</p>
            </div>
          </div>
        </div>
      </div>
      <div id="menu-box " class="col-md-3">
        <div id="item" >
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-laptop"></i>
            </div>
            <div class="block2">
              <span>System</span>
              <p>Display, sound, notifications</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div><br><br></div>
    <div class="row">
      <h4 class="centering">RESSOURCE HUMAINE</h4>
      <div><br></div>
      <div id="menu-box " class="col-md-3">
        <div id="item" >
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-laptop"></i>
            </div>
            <div class="block2">
              <span>System</span>
              <p>Display, sound, notifications</p>
            </div>
          </div>
        </div>
      </div>
      <div id="menu-box " class="col-md-3">
        <div id="item" >
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-laptop"></i>
            </div>
            <div class="block2">
              <span>System</span>
              <p>Display, sound, notifications</p>
            </div>
          </div>
        </div>
      </div>
      <div id="menu-box " class="col-md-3">
        <div id="item">
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-laptop"></i>
            </div>
            <div class="block2">
              <span>System</span>
              <p>Display, sound, notifications</p>
            </div>
          </div>
        </div>
      </div>
      <div id="menu-box " class="col-md-3">
        <div id="item" >
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-laptop"></i>
            </div>
            <div class="block2">
              <span>System</span>
              <p>Display, sound, notifications</p>
            </div>
          </div>
        </div>
      </div>
      <div id="menu-box " class="col-md-3">
        <div id="item" >
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-laptop"></i>
            </div>
            <div class="block2">
              <span>System</span>
              <p>Display, sound, notifications</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
