
<div *ngFor="let m of menu" class="card p-3 shadow" >
  <div class="tab-content p-3 border bg-light" id="nav-tabContent">
    <!-- <div class="tab-pane fade active show" id="nav-Ordre" role="tabpanel" aria-labelledby="nav-destination-tab"> -->
      <div class="container mt-3">
        <div class="row">
          <!-- <br> -->
          <h4 class="centering">{{m.title}}</h4>
          <div><br></div>
          <div *ngFor="let l of m.links" id="menu-box " class="col-md-3">
            <div id="item" >
              <div (click)="routeto(l.ext,l.link)" class="container-block">
                <div class="block1">
                  <i [class]="l.icon"></i>
                </div>
                <div class="block2">
                  <span>{{l.name}}</span>
                  <p>{{l.description}}</p>
                </div>
              </div>
            </div>
          </div>

      </div>
    <!-- </div> -->
  </div>
</div>
