<style> 
  input[type=text] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: rgb(122, 29, 13);
  }
  </style>
<html>
  <div class="row">
    <div class="col-12 text-white">
      <input type="text" value="EDITION DES ATTESTATIONS DE SALAIRE PERIODIQUES" style="text-align:center;"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
    </div>
</div> 
  <p></p>
  <div class="row">
    <div class="col-4 text-white">  
    </div> 
    <div class="col-4 text-white">
      <ng-select [items]="AgentList" name="agent" placeholder="Recherche Agent" bindLabel="NOM_PRENOM" [virtualScroll]="true"  [hidden]="CATEGORIE_AGENT == 'AGENT'"  [(ngModel)]="agent" (clear)="vider()" (change)="choixagent(agent)">
        <ng-template ng-label-tmp ng-option-tmp let-item="item">
          {{item.DDP + " : " + item.NOM_PRENOM}}
        </ng-template>
      </ng-select>
    </div>
  <div class="col-4 text-white">
  </div>
</div> 
  <div class="container-fluid" >
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edition de l'attestation de salaire</h5>
            <button type="button" class="btn-close" (click)="closeClick()" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-add_edit_etat_engagement_periode *ngIf="modopen" [UserInf]="this.agent"> 
            </app-add_edit_etat_engagement_periode>
          </div>
        </div>
      </div>
    </div>
      <div class="container mt-3">
        <table class="table table-hover" id="table"  data-show-header="true" data-pagination="true"
        data-id-field="name"
        data-page-list="[5, 10, 25, 50, 100, ALL]"
        data-page-size="5"> 
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>DU</th>
                    <th>AU</th>
                    <th>TYPE</th>
                    <th>STATUT</th>
                    <th>ETAT</th>
                    <th><button type="button" *ngIf="this.DDP_SELECTIONNE=='OUI'" class="btn btn-outline-success btn-sm" data-bs-toggle="modal"  data-bs-target="#exampleModal" (click)="AddEtatEng()" data-backdrop="static" data-keyboard="false">Editer <i class="fas fa-print"  style="color:rgb(25, 236, 71)"></i></button></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dataItem of EtatEngList | paginate: { itemsPerPage: 8, currentPage: p }">
                  <td>{{dataItem.DATE | date:'dd/MM/yyyy'}}</td>
                  <td>{{dataItem.ANNEE_DU}}-{{dataItem.MOIS_DU}}</td>
                  <td>{{dataItem.ANNEE_AU}}-{{dataItem.MOIS_AU}}</td>
                  <td>{{dataItem.TYPE}}</td>
                  <td>{{dataItem.STATUT}}</td>
                  <td><i class="fas fa-download" style="color:#00cc6a" (click)="downloadfile(dataItem)"></i></td>
                </tr>
              </tbody>
        </table>
      </div>
      <p class="text-center"><pagination-controls nextLabel="Suivant" previousLabel="Précedent" (pageChange)="p = $event"></pagination-controls></p>
</div>
</html>