<form>
  <div class="row">
    <div class="col-3 text-white">
      <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">VALIDE</span> 
      <input type="text" name="VALIDE" [(ngModel)]="VALIDE" style="text-align:center;" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
    </div>
    </div>
    <div class="col-3 text-white">
      <div class="input-group input-group-sm mb-3">
       </div>
    </div>
    <div class="col-6 text-white">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">NOM ET PRENOM</span>  
          <input type="text" maxlength="45" name="NOM_PRENOM" style="text-align:center;" [(ngModel)]="NOM_PRENOM" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 text-white">
      <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">DDP</span> 
      <input type="text" name="DDP" [(ngModel)]="DDP" style="text-align:center;" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
    </div>
    </div>
    <div class="col-3 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">CIN</span>  
        <input type="text" maxlength="8" name="CIN" onkeydown="event.returnValue=((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >=65 && event.keyCode <= 90) || (event.keyCode ===8) || (event.keyCode ===46))?true:false" oninput="this.value = this.value.toUpperCase()" style="text-align:center;" [(ngModel)]="CIN" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
  </div>
    <div class="col-6 text-white">
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">الاسم والنسب</span>
          <input type="text" maxlength="45" name="NOMAR" style="text-align:center;" [(ngModel)]="NOMAR" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-8 text-white">
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">ADRESSE</span>
          <input type="text" maxlength="250" onkeydown="event.returnValue=(event.keyCode===52 || event.keyCode===191 || event.keyCode===56)?false:true" oninput="this.value = this.value.toUpperCase()" name="ADRESSE" style="text-align:center;" [(ngModel)]="ADRESSE" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-7 text-white">
      <button (click)="updateCIN()" class="btn btn-primary">
        MODIFIER
    </button>
      </div>
    </div>
</form>