<form>
  <div class="row">
    <div class="col-4 text-white">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">DDP</span>
          <input type="text" name="DDP" style="text-align:center;" [(ngModel)]="DDP" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
        </div>
    </div>
    <div class="col-8 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">NOM ET PRENOM</span>
        <input type="text" name="NOM_PRENOM" style="text-align:center;" [(ngModel)]="NOM_PRENOM" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">DATE</span>
        <input type="text" name="DATE" style="text-align:center;" [ngModel]="DATE | date:'dd/MM/yyyy'" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
    </div>
    </div>
    <div class="col-8 text-white">
      <!-- <div class="input-group input-group-sm mb-3">
        <input type="file" id="upload" name="upload" accept="application/pdf" (change)="upload($event)"> 
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-white">
      <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">VOLET</span>
      <input type="text" name="VOLET" style="text-align:center;" [ngModel]="VOLET" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
    </div>
    </div>
    <div class="col-6 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">MENU</span>
        <input type="text" name="MENU" style="text-align:center;" [ngModel]="MENU" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-white">
      <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">INTITULE</span>
      <input type="text" oninput="this.value = this.value.toUpperCase()" maxlength="25" name="INTITULE" style="text-align:center;" [(ngModel)]="INTITULE" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
      <input type="text" hidden name="INTITULE_ANCIEN" [(ngModel)]="INTITULE_ANCIEN" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    </div>
    <div class="col-0 text-white">
    </div>
  </div>
  <div class="row">
  <div class="col-12 text-white">
    <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">DESCRIPTION</span>
    <textarea class="form-control" maxlength="250"  name="DESCRIPTION" [(ngModel)]="DESCRIPTION" rows="4" readonly></textarea>
    <input type="text" hidden name="DESCRIPTION_ANCIEN" [(ngModel)]="DESCRIPTION_ANCIEN" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
  </div>
  <div class="col-0 text-white">
  </div>
</div>
<div class="row">
  <div class="col-12 text-white">
    <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">REPONSE</span>
    <textarea class="form-control" maxlength="250"  name="REPONSE" [(ngModel)]="REPONSE" rows="4"></textarea>
  </div>
  </div>
  <div class="col-0 text-white">
  </div>
</div>
<div class="row">
    <div class="col-6 text-white">
      <div class="input-group input-group-sm mb-3">
        <select class="form-select form-select-sm" [(ngModel)]="STATUT" name="STATUT" aria-label=".form-select-sm example">
          <option value="EN COURS">EN COURS</option>
          <option value="TRAITE">TRAITE</option>
        </select>
      </div>
      </div>
    <div class="col-6 text-white">
      <div class="input-group input-group-sm mb-3">
      <button (click)="updatehelpdesk()" class="btn btn-primary">
        MODIFIER
    </button>
    </div>
    </div>
  </div>
</form>