<form>
  <div class="row">
    <div class="col-3 text-white">
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">DATE</span>
          <input type="text" name="DATE" style="text-align:center;" [ngModel]="DATE | date:'dd/MM/yyyy'" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
      </div>
    </div> 
    <div class="col-3 text-white">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">DDP</span>
            <input type="text" [(ngModel)]="DDP" name="DDP" style="text-align:center;" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
        </div>
    </div>
    <div class="col-6 text-white">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">NOM ET PRENOM</span>
            <input type="text" name="NOM_PRENOM" style="text-align:center;" [(ngModel)]="NOM_PRENOM" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">DU</span>
        <input type="text" name="DU" placeholder="00/00/0000" style="text-align:center;" [(ngModel)]="DU" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    </div>
    <div class="col-3 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">AU</span>
        <input type="text" name="AU" placeholder="00/00/0000" style="text-align:center;" [(ngModel)]="AU" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    </div>
    <div class="col-6 text-white">
      <div class="input-group input-group-sm mb-3">
          <button (click)="addEngagementRegroupe()" class="btn btn-primary">
          VALIDER LA DEMANDE
      </button>
      </div>
    </div>
  </div>


  <div class="row">
    
  </div>
</form>