<form>
  <div class="row">
    <div class="col-4 text-white">
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">DDP</span>
          <input type="text" [(ngModel)]="DDP" name="DDP" style="text-align:center;" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
        </div>
      </div>
    <div class="col-8 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">NOM ET PRENOM</span>
        <input type="text" name="NOM_PRENOM" style="text-align:center;" [(ngModel)]="NOM_PRENOM" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">CODE</span>
        <input type="text" name="CODE_RUBRIQUE" [(ngModel)]="CODE_RUBRIQUE"  style="text-align:center;"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
        </div>
      </div>
    <div class="col-8 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">TYPE</span>
        <input type="text" [(ngModel)]="TYPE" name="TYPE" style="text-align:center;" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-white">
      <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">RUBRIQUE</span>
          <input type="text" [(ngModel)]="RUBRIQUE_ABBREVEE" name="RUBRIQUE_ABBREVEE" style="text-align:center;" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-4 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">DATE</span>
        <input type="text" name="DATE" style="text-align:center;" [ngModel]="DATE | date:'dd/MM/yyyy'" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
      </div>
    </div> 
    <div class="col-4 text-white">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">STATUT</span>
        <input type="text" name="STATUT" style="text-align:center;" [ngModel]="STATUT" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly>
      </div>
    </div>
    <div class="col-4 text-white">
      <div class="input-group input-group-sm mb-3">
        <input type="file" id="upload" name="upload" accept="application/pdf" (change)="upload($event)">
      </div>
    </div> 
  </div>
</form>